@page "/"
@using Microsoft.ML.Data;

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<InputText @bind-Value="imagePath"></InputText>
<button onclick="@ObjectDetectionImage">Object Detection</button>

@if(!string.IsNullOrEmpty(returnResult) )
{<p>@returnResult</p>
}

@code {
    private string imagePath = string.Empty;
    private string returnResult = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        imagePath = "";
    }

    private async Task ObjectDetectionImage()
    {
        //Load sample data
        var image = MLImage.CreateFromFile(@$"{imagePath}");
        MLModel.ModelInput sampleData = new MLModel.ModelInput()
            {
                Image = image,
            };

        //Load model and predict output
        var result = MLModel.Predict(sampleData);
        imagePath = string.Empty;   
        returnResult = $"Predicted label : {result.PredictedLabel.FirstOrDefault()} \n Score result {result.Score.FirstOrDefault()}";

    }

}
